# **Splitting Dataset**

## Objectives

* This notebook is for splitting the cleaned dataset for house prices into train and test set before feature engineering"

## Inputs

* outputs/datasets/cleaned/house_prices_records.csv

## Outputs

* outputs/datasets/cleaned/split/house_prices_records_train.csv
* outputs/datasets/cleaned/split/house_prices_records_test.csv

---

# Change working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
import os
current_dir = os.getcwd()
current_dir

'/workspace/heritage-housing-issues/jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'/workspace/heritage-housing-issues'

# Splitting Data

Load cleaned dataset

In [4]:
import pandas as pd
df = (pd.read_csv("outputs/datasets/cleaned/house_prices_records.csv"))
df.head(5)

,1stFlrSF,2ndFlrSF,BedroomAbvGr,BsmtExposure,BsmtFinSF1,BsmtFinType1,BsmtUnfSF,GarageArea,GarageFinish,GarageYrBlt,...,LotFrontage,MasVnrArea,OpenPorchSF,OverallCond,OverallQual,TotalBsmtSF,WoodDeckSF,YearBuilt,YearRemodAdd,SalePrice
0,856,854.0,3.000000,No,706,GLQ,150,548,RFn,2003.0,...,65.0,196.0,61,5,7,856,0.0,2003,2003,208500
1,1262,0.0,3.000000,Gd,978,ALQ,284,460,RFn,1976.0,...,80.0,0.0,0,8,6,1262,0.0,1976,1976,181500
2,920,866.0,3.000000,Mn,486,GLQ,434,608,RFn,2001.0,...,68.0,162.0,42,5,7,920,0.0,2001,2002,223500
3,961,0.0,2.869214,No,216,ALQ,540,642,Unf,1998.0,...,60.0,0.0,35,5,7,756,0.0,1915,1970,140000
4,1145,0.0,4.000000,Av,655,GLQ,490,836,RFn,2000.0,...,84.0,350.0,84,5,8,1145,0.0,2000,2000,250000

Split into train and test set and push to repo

In [5]:
from sklearn.model_selection import train_test_split
import os

# Split the data into a training set and a test set
train, test = train_test_split(df, test_size=0.2)

try:
  os.makedirs(name='outputs/datasets/cleaned/split') # create outputs/datasets/cleaned/split folder
except Exception as e:
  print(e)

train.to_csv(f"outputs/datasets/cleaned/split/house_prices_records_train.csv", index=False)
test.to_csv(f"outputs/datasets/cleaned/split/house_prices_records_test.csv", index=False)

---

# Next Step

* Featured Engineering on cleaned splitted train and test set